.bg-container{
    
}

.image-container{

}

.image{
    width: 80%;
    height: 40rem;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.bg-signup-container{
    display: flex;
    margin-top: 10%;
    background-color: white;
    width: 40%;
    border-radius: 20px;
}

.bg-form-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.inputs-container{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    justify-content: space-between;
    margin-top: 2rem;
}

.input-main-container{
    display: flex;
    align-items: center;
}



.signup-input{
    width: 10rem;
    height: 2rem;
}

#address{
    width: 22rem;
    height: 2rem;
}

#firstStep{
    background-color: blue;
    color:white;
    padding: 4%;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 10%;
    margin-right: 4%;
}
.error-msg{
    color:red;
}

.forms-steps-container{
    padding-right: 2%;
}