.bg-main-container{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 120vh;
    margin-top: -10%;
}

body{
    margin: 0;
    padding:0;
}
button{
    font-weight: bold;
}