
.bg-container{
    display: flex;
    margin-top: 5%;
}


.activeSpan{
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}



.nav-item-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inactive{
    background-color: gray;
}


.active{
    background-color: blue;
    color:aliceblue;
}

.headers{
    padding:0.8rem;
    border-radius: 5px;
    font-size: 1.2rem;
}


hr{
    margin-right: 10%;
}

.completed{
    color:black;
    background-color: gray;
}

.checkIcon{
    font-size: 1.2rem;
}