.message-image{
    width: 80%;
    height: 40rem;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.bg-message-container{
    display: flex;
    padding-right: 1%;
}

.textarea-container{
    display: flex;
    flex-direction: column;
}

textarea{
    height: 10rem;
    margin-top: 4%;
    margin-right: 5%;
}

.meassage-radio-container{
    margin-top: 4%;
    margin-bottom: 5%;
}

.message-next-step-button{
    background-color: blue;
    color:white;
    padding: 4%;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10%;
    margin-right: 4%;
}

.message-back-step-button{
    background-color: rgb(241, 245, 246);
    color: rgb(0, 4, 8);
    padding: 5%;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10%;
    margin-right: 4%;
}

.bg-message-container{
    margin-top: 10%;
    background-color: white;
    width: 40%;
    border-radius: 20px;
}

.message-error{
    color:red;
}