.bg-checkbox-container {
  display: flex;
  margin-top: 10%;
  background-color: white;
  width: 40%;
  border-radius: 20px;
}

.checkBox-main-image {
  width: 100%;
  height: 40rem;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.checkBox-image {
  width: 100px;
  height: 10rem;
}

.check-image-container {
  padding: 3%;
  background-color: rgb(238, 243, 243);
  margin-left: 2%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 200%;
  cursor: pointer;
}

.check-items-container {
  display: flex;
  margin-right: 15%;
}

.checkbox-main-container {
  margin-left: 10%;
}

.changeBackground {
  background-color: rgb(104, 147, 147);
}

.check-box-radio-inputs {
  margin-top: 10%;
}

.face-insta {
  font-size: 8rem;
}

.continue-button {
  background-color: blue;
  color: white;
  padding: 4%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10%;
  margin-right: 4%;
}

.modal-class {
  background-color: aliceblue;
  padding: 10rem;
  border-radius: 30px;
}
